

            * {
              margin: 0;
              padding: 0;
          }
          
          body {
              background-color: rgb(20, 20, 20);
              display: flex;
              flex-direction: column;
              min-height: 100vh;
          }
          
          header {
              text-align: center;
              display: flex;
              padding: 60px;
              background: rgb(25, 25, 25);
              font-size: 30px;
              align-items: center;
              justify-content: space-between;
              color: orangered !important;
          }

          .textbox{
            display: flex;
            border-radius: 5px;
            background-color: rgb(30, 30, 30);
            padding: 5vw;
            margin: 5vw;
            color: orangered;
          }
          .textbox iframe
          {
            width: 50%;
            height: 45vh;
          }
          .textbox p{
            color: white;
          }
          .textbox a 
          {
            color: orangered;
          }
          input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
          
          input[type=submit] {
            width: 100%;
            background-color: orangered;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          header h1 {
              text-align: center;
              color: orangered !important;
          }

          .bigmac {
              z-index: 10;
              display: flex;
              flex-direction: column;
          }
          .hamburger {
              width: 35px;
              height: 5px;
              background-color: orangered;
              margin: 2.5px 0;
              display: block;
            }
            .close {
              z-index: 10;
              margin-top: 15%;
            }
            .close p {
              color: orangered;
            }
          main {
              display: flex;
              flex-grow: 1;
          }
          nav {
              background-color:rgb(25, 25, 25);
              margin-left: -20%;
              width: 20%;
              overflow: hidden;
              text-align: center;
              padding-top: 30px;
              transition:  all .5s ease;
              display: flex;
              flex-direction: column;
            }
          
            nav a{
              display: block;
              padding: 20px 0;
              color: #fff;
              font-size: 15px;
            }
          
            nav a:hover{
              color: #333;
              background-color: #fff;
              font-weight: bold;
              border-right: 2px solid #ffffff;
            }
          
            nav .fa{
              display: inline-block;
            }
          
            .single-nav {
                border-bottom: 1px solid #fff;
            }
          
            #icon{
              display: none;
            }
          
            #openbtn, #closebtn{
              cursor: pointer;
            }
          
          
            #closebtn{
              font-size: 30px;
              display: flex;
              align-self: end;
              margin: 0 15px;
              color: orangered;
            }
          
            #icon:checked ~ main nav{
              margin-left: 0;
            }
          
            #icon:checked ~ header #openbtn{
              left:170px;
              opacity: 0;
            }

            .w-35 {
                width: 35px;
            }

          @media only screen and (max-width: 700px) {
              #icon:checked ~ main nav {
                  width: 100vw;
              }
              #icon:checked ~ main #content {
                  display: none;
              }
          }
       

#content
{
width: 100vw;
}
.content
{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  align-items: center;
  justify-content: space-evenly;
}
.content img
{
  width: 15vw; 
 height: auto;
}
.content img:hover
{
  transform: scale(1.2);
  transition:  all .5s ease;
}


@media only screen and (max-width: 1000px) {
  .content
  {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .content img
{

  width: 20vw; 
 height: auto;
}

}
@media only screen and (max-width: 800px) {
  .content
  {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly;
  }

  .content img
{

  width: 30vw; 
 height: auto;
}
}
